* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* header {
    background-color: blue; 
    
} */

nav {
    padding: 1em;
    display: flex;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav .nav-logo {
    max-width: 100px;
}

/**** Hero Section ****/

/* .hero-section {
    width: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-left: 2em;
}

.hero-content h1 {
    font-size: 38px;
    font-weight: 600;
}

.hero-content .heading-desc {
    font-size: 16px;
    font-weight: 300;
    max-width: 320px;
}


/**** card-section ***/

.card-section {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;

}

.card-one {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 2em;
}

.card-one .swimmer-img {
    max-width: 100%;
}

.card-one .card-content {
    max-width: 176px;
}

.card-one .card-content .grey {
    color: #918E9B;
    font-size: 12px;
}

.card-one 
.card-content
.card-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em 0;
}

.card-one 
.card-content 
.star-img {
    max-width: 18px;
    padding-right: .2em;
}

.card-one 
.card-content
.other-content {
    display: flex;
    flex-direction: column;
}

.card-one 
.card-content
.other-content .card-desc {
    font-size: 12px;
    font-weight: 300;
}


.card-one 
.card-content
.other-content .card-price {
    font-size: 12px;
}

.card-one 
.card-content
.other-content .bold {
    font-weight: bold;
}